<h1>Welcome to SuperHero Clash!</h1>

<% params %>


<p>In this game you will pick two heros or villians and they will fight to see who is stronger!</p>



<form action="/results" method="post">

  <label for="first">Choose your first fighter</label>
  <input id="first" type="text" name="first_fighter">

  <label for="second">Choose your second figther</label>
  <input id="second" type="text" name="second_fighter">

  <button>Fight!</button>

</form>
